* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    ul,
    ol,
    a {
      list-style: none;
    }

    .nav__logo {
      width: 140px;
      height: auto;
    }

    .carousel-item {
      text-align: center;
    }

    .carousel__item-name {
      text-align: center;
      font-weight: bold;
    }

    /*

    .card img {
      width: 100%;
      object-fit: cover;
    } */

    /* ---------- Botón de whatsapp ---------- */

    .whatsapp-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #25d366;
      color: white;
      font-size: 28px;
      padding: 8px 14px;
      border-radius: 50%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      z-index: 1000;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .whatsapp-button:hover {
      background-color: #02732d;
    }

    /* ---------- Body ---------- */

    body {
      font-size: 16px;
      color: #1b1e35d7;
      text-align: center;
      background-color: #E2E7F3;
    }

    /* ---------- Hero ---------- */

    .hero {
    background: linear-gradient(90deg, #361e8b 5%, #0081FA 50%, #361e8b 100%);
    color: #fff;
    padding: 48px 0 32px 0;
    text-align: center;
    }

    #bienvenida {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    /* ---------- Footer ---------- */

    .footer {
      font-size: .8rem;
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
      padding: 1rem;
      background-color: #212121;
      color: white;
    }

    .footer__title {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 0.5rem;
      }

    .footer__content {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
        }

    .footer__social {
        display: flex;
        gap: 10px;
        margin-top: 0.5rem;
    }

    .footer__social img {
          filter: invert(1);
          width: 24px;
          height: 24px;
        }


    /* .list-group-item--old {

      color: red;
      text-decoration: line-through;
      font-size: 19px;

    }

    .list-group-item--price {

      font-size: 18px;
      color: rgb(43, 41, 41);
      margin: 0;

    } */

    /* ---------- Formulario de contacto ---------- */
    .form {
      background: linear-gradient(90deg, #361e8b 5%, #0081FA 50%, #361e8b 100%);
      color: #fff;
      padding: 48px;
    }

    .form-label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-control {
      padding: 8px;
      margin-bottom: 15px;
      width: 100%;
    }

    .form-control:focus {
      border: 1px solid rgb(174, 0, 255);
      box-shadow: 0 0 0 0.5rem rgba(77, 2, 2, 0.144);
      outline: none;
    }

    /* ---------- Productos ---------- */

    /* .products {
      width: 80vw;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 30px;
    } */